/* CustomerPage.css */
.customer-page-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Add additional styles as needed for your customer page */
  